* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.hit {
  animation: hitAnimation 0.5s ease-in-out;
}

@keyframes hitAnimation {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(10px);
  }
  50% {
    transform: translateX(-10px);
  }
  75% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}
